$primary-color: #519259;
$navbar-background-color: #064635;
$secondary-color: #ebebeb;
$tertiary-color: #064635;
$brand-secondary-color: #F0BB62;
$white-color: #ffffff;
$black-color: #000000;
$red-color: #e61919;