@import 'mixins';
@import 'variables';
@import 'responsive';

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    scroll-behavior: smooth;
    background-color: $secondary-color;
}

body {
    display: flex;
    min-height: 100vh !important;
    flex-direction: column;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

a,
button {
    cursor: pointer;
}

.navbar-bg-primary {
    background-color: $navbar-background-color
}

.bg-primary {
    background-color: $primary-color;
}

.text-primary {
    color: $primary-color;
}

.img-not-found {
    width: 400px;
}

.img-cart-not-found {
    width: 300px;
}

.text-not-found {
    color: $tertiary-color;
}

a,
button,
input[type="text"] {
    min-width: 44px;
    min-height: 44px;
}

input[type="text"]:focus {
    outline: 1px solid $tertiary-color
}

select,
input,
textarea {
    min-height: 44px;
    border: 0;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.flex {
    display: flex;
    flex-wrap: wrap;

    &.justify-center {
        justify-content: center;
    }

    &.justify-between {
        justify-content: space-between;
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    padding: 2.5rem;

    @include tablet {
        grid-template-columns: repeat(4, 1fr);
    }
}

.center {
    text-align: center;
}

.item-center {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.content-title {
    color: $primary-color;
    padding: 0.3rem 1rem;
    text-align: center;
}

.content-sub-title {
    color: $tertiary-color;
}

.food-menu-wrapper {
    margin-top: 2rem;
    margin-bottom: 2rem;


    .food-menu-item {
        border: 0;
        border-radius: 15px;
        padding: 15px 20px;

        .food-img {
            width: 100%;
            border-radius: 100px 100px 15px 15px;
            object-fit: cover;
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
        }

        .food-content {
            padding: 10px 0px;

            .food-title {
                color: $primary-color;
                margin-bottom: 10px;
            }

            .food-description {
                color: $tertiary-color;
            }

            .add-to-cart-button {
                margin-top: 15px;
                padding: 5px 15px;
                font-size: 1.1rem;
                text-transform: uppercase;
                border: 0;
                width: 100%;
                border-radius: 10px;
                box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
                background-color: $brand-secondary-color;
                color: $white-color;
                transition: 0.5s;

                &:focus {
                    background: $brand-secondary-color;
                    color: $white-color;
                    outline: 2px solid $brand-secondary-color;
                }

                &:hover {
                    background: $primary-color;
                    color: $white-color;
                }
            }
        }
    }

    .more-button {
        padding: 5px 15px;
        border: 0;
        border-radius: 10px;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
        background-color: $brand-secondary-color;
        color: $white-color;
        transition: 0.5s;

        &:focus {
            background: $brand-secondary-color;
            color: $white-color;
            outline: 2px solid $brand-secondary-color;
        }

        &:hover {
            background: $primary-color;
            color: $white-color;
        }
    }
}

.rounded {
    border-radius: 5px;
}

.material-icons {
    vertical-align: middle !important;
    user-select: none;
    position: relative;
    top: -2px;
}

footer {
    color: $white-color;
    text-align: center;
    margin-top: 3rem;
    padding: 1.5rem;
    background-color: $tertiary-color;

    .brand-title {
        color: $primary-color;
        font-weight: bold;

        span {
            color: $brand-secondary-color;
        }
    }
}